/* Colors */

.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: #f6f6f6;
}

.bg-dark {
    color: #fff;
    background-color: #403d39;
}

.bg-black {
    color: #fff;
    background-color: #252422;
}

.bg-highlight {
    color: #fff;
    background-color: #006800;
}

.bg-dark *, .bg-black *, .bg-highlight * {
    color: #fff;
}