

.article-preview {
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.2em;
  height: 12em;
}

.article-preview-short {
    height: 6em;
}

.read-on-link {
    color: #eb5e28;
}

.read-on-link:hover {
    text-decoration: underline solid #eb5e28;
}

@media (max-width: 600px) {
    
    .article-preview {
        word-wrap: break-word;
        overflow: hidden;
    }
}

@media(min-width: 601px){

    .article-preview {
        word-wrap: break-word;
        overflow: hidden;
        height: 18em;
    }

    .article-preview-short {
        height: 8.4em;
    }

}