.button {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    background-color: #006800;
    border: none;
    padding: 3px 10px;
    border-radius: 4px;
    height: 2em;
    margin: 5px;
    display: flex;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #38622E;
}