/* CSS for the content of the article.html */

article {
    display: inline;
}

p::after {
    content: "";
    display: block;
    clear: both;
}

.intro {
    font-style: italic;
}

.first-letter {
    font-size: 6em;
    line-height: 1em;
    float: left;
}

.image-caption {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.article-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media(min-width: 901px) {
    .image-caption {
        max-width: 40%;
        float: right;
    }
}